@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Sigmar&display=swap");

:root {
    --primary-color: #456990;
    --secondary-color: #49BEAA;
    --accent1-color: #EF767A;
    --accent2-color: #EEB868;

    --heading-font: "Sigmar",  serif;  
    --paragraph-font:" Lato", sans-serif;

    --nav-backgroun-color: #456990;
    --nav-link-color: #49DCB1;
    --nav-hover-link-color: #49DCB1;
    --nav-hover-backgrounf-color: #456990;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
}

a {
    text-decoration: none;
}

section {
    position: relative;
}

article {
    position: absolute;
    background-color: #456990;
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

.hero-image {
    position: relative;
}

.hero-image .background {
    width: 100%;
}

.hero-image .title {
    top: 20px;
    width: 100%;
    background: rgb(255 255 255 / 70%);
    text-align: center;
}

.hero-image article {
    position: absolute;
    background-color: rgb(70 128 192 / 82%);
    font-family: var(--paragraph-font);
    width: 760px;
    margin: 0 80px;
    bottom: 120px;
    padding: 20px;
}

.hero-image article p {
    width: 540px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
    margin: 0;
}

.hero-image article img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
}

.sociallinks img {
    align-content: baseline;
    height: 50px;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 3fr;
	align-items: flex-end;
	border-bottom: 1px solid #cfa7a8;
	max-width: 1000px;
}

.logo {
	margin: 0 0.25rem 0 1rem;
    grid-column-start: 1;
	width: 64px;
	height: auto;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.gridimages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #baddf0;
    display: grid;
  }

  fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  legend {
    padding: 0.5rem;
    color: rgb(4, 68, 65);
    font-size: 1.3em;
  }

  label, input, button, select, textarea {
    font-family: var(--paragraph-font)
  }

  label {
    text-align: right;
    padding-right: 1rem;
  }

  input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }

  button {
    margin: 1rem;
    background-color: rgb(2, 70, 74);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  
  button:hover {
    background-color: rgb(110, 232, 206);
  }

  .form-item {
    display: grid;
    align-items: center;
  }

  .column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
  }

  .column2 {
    grid-template-columns: 1fr 2fr;
  }


