@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Sigmar&display=swap");


:root {

    --primary-color: #456990;
    --secondary-color: #49BEAA;
    --accent1-color: #EF767A;
    --accent2-color: #EEB868;

    --heading-font: "Sigmar",  serif;  
    --paragraph-font:" Lato", sans-serif;

    --nav-backgroun-color: #456990;
    --nav-link-color: #49DCB1;
    --nav-hover-link-color: #49DCB1;
    --nav-hover-backgrounf-color: #456990;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-backgroun-color);
    font-size: 1.2rem;
    display: flex; 
}
  
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgrounf-color);
}

